.masonry { /* Masonry container */
  column-count: 1;
  column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
  display: inline-block;
  width: 100%;
}

/* This is based on Materialize screen sizes */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  /* .m4 */
  .masonry { column-count: 2; }
}

@media only screen and (min-width: 992px) {
  /* .l4 */
  .masonry { column-count: 3; }
}