table.sudoku {
  width: auto;
}
.sudoku td {
  width: 3em;
  height: 3em;
  border: 1px solid;
  text-align: center;
  cursor: pointer;
}
td.c1 {
  border-left: solid;
}
td.c3,td.c6,td.c9 {
  border-right: solid ;
}
td.r1 {
  border-top: solid;
}
td.r3,td.r6,td.r9 {
  border-bottom: solid;
}