<%- include("../inserts/head.ejs", {plugins:["kaushan-script"]}) %>
<h1>Advice AI</h1>
<div class="row">
  <div class="input-field col s12 m8">
    <textarea id="question" class="materialize-textarea"></textarea>
    <label for="question">How's Life? What qualms you?</label>
  </div>
  <div class="input-field col s4 m2">
    <input type="number" id="age" class="validate" min="0" max="200">
    <label for="age">How's old are you?</label>
  </div>
  <button id="ask" class="input-field btn green col s4 m2 right waves-effect">Ask!</button>
</div>
<p class="flow-text center" id="advice" style="font-family: Kaushan Script, Arial, Helvetica, sans-serif; cursor: pointer;">semper ubi sub ubi</p>
<div id="loader" class="progress center">
  <div class="indeterminate"></div>
</div>
<h2>How to use</h2>
<ol>
  <li>In the first text box describe your situation and ask a question. For example: "I am sad. What should I do?"</li>
  <li>Optionally enter your age in the sacond box</li>
  <li>Press Ask to get advice</li>
  <li>If you don't like the advice: Click on it! It will try again</li>
</ol>
<h2>The background</h2>
<p>This is the combined effort of <a href="https://github.com/swag31415">myself</a>, <a href="https://github.com/zakidane">Zaki</a>, and Brandon. You can find our code <a href="https://github.com/zakidane/Advice_AI">on Github</a>.</p>
<p>I originally got the idea from an interaction I had with my high school Psychology teacher Mr. Copeland. He let gave me red solo cups and told me to do one nice thing for someone. This is the thing!</p>
<%- include("../inserts/foot.ejs", {scriptfile:"helpful.js"}) %>