<%- include("../inserts/head.ejs", {plugins:["kaushan-script"]}) %>
<h1>Advice AI</h1>
<div class="row">
  <div class="input-field col s12 m8">
    <textarea id="question" class="materialize-textarea"></textarea>
    <label for="question">How's Life? What qualms you?</label>
  </div>
  <div class="input-field col s4 m2">
    <input type="number" id="age" class="validate" min="0" max="200">
    <label for="age">How's old are you?</label>
  </div>
  <button id="ask" class="input-field btn green col s4 m2 right waves-effect">Ask!</button>
</div>
<p class="flow-text center" id="advice" style="font-family: Kaushan Script, Arial, Helvetica, sans-serif; cursor: pointer;">semper ubi sub ubi</p>
<div id="loader" class="progress center">
  <div class="indeterminate"></div>
</div>
<%- include("../inserts/foot.ejs", {scriptfile:"helpful.js"}) %>