<% plugins = ["paperjs"] %>
<%- include("../inserts/head.ejs") %>
<h1>Spliner</h1>
<canvas id="disp" width="1000px" height="1000px" style="background: black;"></canvas>
<%- include("../inserts/foot.ejs", {plugins:plugins, scriptfile:"spliner.js"}) %>