<%- include("../inserts/head.ejs") %>
<h1>Spliner</h1>
<svg display="block" width="1000px" height="1000px" id="disp" style="background-color: black"></svg>
<%- include("../inserts/foot.ejs", {scriptfile:"spliner.js"}) %>