<% plugins = ["paperjs"] %>
<%- include("../inserts/head.ejs") %>
<h1>Spliner</h1>
<canvas id="disp" class="black" style="width: 100%" resize></canvas>
<%- include("../inserts/foot.ejs", {plugins:plugins, scriptfile:"spliner.js"}) %>