<%- include("../inserts/head.ejs") %>
<h1>Stonkey</h1>
<div id="inputs" class="row">
  <div class="input-field col s12 m6 l5">
    <input type="text" id="sym">
    <label for="sym">Symbol</label>
  </div>
  <p class="input-field range-field col s12 m6 l5">
    What percent should be visible?
    <input type="range" id="hint">
  </p>
  <div class="input-field col s12 l2">
    <button id="play" class="btn right">Play</button>
  </div>
</div>
<div id="dloader" class="progress center" style="display: none;">
  <div class="indeterminate"></div>
</div>
<div id="game" style="display: none; position: relative;">
  <svg viewbox="0 0 300 100">
    <g style="stroke: #0001;">
      <% for (let i = 10; i < 100; i += 10) { %>
      <line x1="0" y1="<%-i%>" x2="300" y2="<%-i%>"></line>
      <% } %>
    <g>
    <polyline id="line" points="" style="stroke: #000; fill: none;"></polyline>
  </svg>
  <style>.chooser {position: absolute; right: 0; cursor: pointer;}</style>
  <div id="up" class="chooser" style="top: 0; background: #2f24; display: none;"></div>
  <div id="down" class="chooser" style="bottom: 0; background: #f224; display: none;"></div>
</div>
<%- include("../inserts/foot.ejs", {scriptfile:"stonkey.js"}) %>